:root {
  --color-primary: #4c2982;
  --color-secondary: #f9d170;
  --color-bg: #f9f7f3;
  --color-text: #252525;
  --color-light: #f3f3f3;
  --color-success: #067973;
  --color-success-bg: #f5fffe;
  --color-error: #b71540;
  --color-error-bg: #fdeff3;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: swap;
  src: url("../webfont/Inter-Black.woff2") format("woff2"),
       url("../webfont/Inter-Black.woff") format("woff");
}

body {
  background-color: var(--color-light);
}

.primary {
  color: var(--color-primary)
}

.floating-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  /* -1/2 width */
  margin-top: -150px;
  /* -1/2 height */
}


.title, label {
    font-family: 'Inter', 'serif';
    color: var(--color-primary);
}

label {
  text-transform: uppercase;
  display: block;
  font-weight: 400;
}

.input-group {
  height: 2rem;
  max-width: 100%;
  box-shadow: -2px 2px 7px 0px rgba(0,0,0,0.25);
  display: flex;
}

input {
  border: none;
  width: 15rem;
}

input:focus, input:active {
  outline: none !important;
  border: var(--color-primary) 1px solid;
}

button {
  width: 2.5rem;
  height: 100%;
  background-color: var(--color-secondary);
  border: none;
}

button:focus {
  border: var(--color-primary);
}

svg {
  height: 2rem;
}